@import "bootstrap";

thead{
  background-color:#2980b9;
  color:white;
}
th,td{
}

.table {
    margin-top: 31px;
    padding: 20px;
	width: 500px;
}
#container, #arearange{
    border:1px solid grey;
    height: 200px;
    width:600px
}

